<div class="list-group">
    <a href="#" class="list-group-item active bg" style="border-color: #A5A5A5">
        GENRE LIST
    </a>
    <a href="#" class="list-group-item">POP</a>
    <a href="#" class="list-group-item">ROCK</a>
    <a href="#" class="list-group-item">JAZZ</a>
    <a href="#" class="list-group-item">BLUE</a>
    <a href="#" class="list-group-item">RAP</a>
    <a href="#" class="list-group-item">PUNK</a>
    <a href="#" class="list-group-item">COUNTRY</a>
    <a href="#" class="list-group-item">CLASSICAL</a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item active bg" style="border-color: #A5A5A5">
        ALBUM LIST
    </a>
    <a href="#" class="list-group-item">POP</a>
    <a href="#" class="list-group-item">ROCK</a>
    <a href="#" class="list-group-item">JAZZ</a>
    <a href="#" class="list-group-item">BLUE</a>
    <a href="#" class="list-group-item">RAP</a>
    <a href="#" class="list-group-item">PUNK</a>
    <a href="#" class="list-group-item">COUNTRY</a>
    <a href="#" class="list-group-item">CLASSICAL</a>
</div>
