
﻿<div class="row">
    <ul class="bxslider">
        <li><img src="~/Content/images/test/pic1.jpg" /></li>
        <li><img src="~/Content/images/test/pic2.jpg" /></li>
        <li><img src="~/Content/images/test/pic1.jpg" /></li>
        <li><img src="~/Content/images/test/pic2.jpg" /></li>
    </ul>
</div>