2. Source/packages
2. Source/MusicStore/bin
2. Source/MusicStore/obj
2. Source/MusicStore/Web.config
2. Source/MusicStore.v12.suo
2. Source/MusicStore.sln
2. Source/MusicStore.Tests/obj/Debug/build.force
2. Source/MusicStore.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
2. Source/MusicStore.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2. Source/MusicStore.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
2. Source/MusicStore.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
2. Source/MusicStore/Web.Debug.config
2. Source/MusicStore/Web.Release.config